<%- include('./base/header.ejs') %>
    <div class="container">
        <div class="alert bg-success my-3">
           <h4 class="text-center text-white">Student has been added Successfully</h4> 
        </div>
    </div>
    <div class="d-flex justify-content-center my-4">
        <a href="/" class="btn btn-primary px-4 py-2 rounded-pill shadow-sm">
            <i class="fa fa-arrow-left me-2"></i> Back
        </a>
    </div>
<%- include('./base/footer.ejs') %>